
@import url('https://fonts.googleapis.com/css?family=Boogaloo|Fascinate+Inline|Slackey|Staatliches&display=swap');

:root {
  --navigationFont: 'Fascinate Inline',sans-serif;
  --headingfont: Staatliches,sans-serif;
  --paragraphFont: Boogaloo,sans-serif;

}

* {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body{
  background-image: url(istockphoto-504240773-612x612.jpg);
  background-size: cover;
  background-blend-mode: luminosity;
}

div {
  font-family: var(--paragraphFont);

}

h2,h3,h4,h5,h6 {
  font-family: var(--headingfont);
color:#050505;
}

h1 {
    font-size: 1.5em;
      font-family: Slackey, var(--headingfont);
  text-shadow: 0 0 0 #FFFFFF;
  transition: text-shadow 4s;

}

header {
  box-shadow: 15px 16px 25px 7px rgba(80,0,0,0.45);
  height: 100%;
}

p {
  font-family: var(--paragraphFont);
color:#050505;
}

img {
width: 15%;

}
footer{
  background-color: #81817E;
box-shadow: 0px -14px 8px -9px rgba(28,28,27,0.45);
padding: .45%;
}

a{
  position: relative;
  width: 100%;
  height: 100%;
}

 a::before {
  content: '';
  position: absolute;
  left: -4px;
  bottom: -4px;
  width: 0%;
  height: 0%;
  border: 6px solid transparent;

}

 li:hover a {
  background-color: #FFF925;
  color: black;
  transition: all .3s 2s;

}

li:hover a::before {
border: 4px solid black;
  width: 100%;
  height: 100%;
  transition: width 2s, height 2s;
}

div img {
width: 40%;
}

.list-ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 20%;
  background-color: #830A0A;
  font-family: var(--navigationFont)
}

.list-li-a {
  display: flex;
  justify-content: center;
  color: white;
  padding: 18px;
  margin: 0px;
  text-decoration: none;
  text-align: center;
}



.main-nav {
  height: 100%;
  background-color: #830A0A;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  text-align: center;
  color: white;
  font-family: var(--navigationFont);
  font-size: 2em;
  flex-wrap: wrap;

}

.main-li-a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  text-align: center;
  padding: 12px;
  margin: 0px;
  text-decoration: none;
  box-sizing: border-box;

}

.active {
  color: #DE6D2C;
  text-decoration: none;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 0px;
  box-sizing: border-box;
}


.flex-container {
  display: flex;
  border-width: medium;
  border-style: double;
  border-color: gray;
  border-radius: 5%;
  padding: 30px;
  flex-wrap:wrap;
}


.stand-alone-link {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 20%;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #830A0A;
  font-family: var(--navigationFont)

}

.sr-only {
position: absolute;
top: auto;
left: -10000px;
width: 1px;
height: 1px;
overflow: hidden;
}


.main-nav-heading:hover {
      text-shadow: 0 0 10px #FFFFFF;
      transition: text-shadow 1s;
}

.grid-info {
display: grid;
grid-template-columns: repeat(4,1fr);

}

.myface {
  border-radius: 50px;
  width: 45%;
  grid-area: myface;
  margin: 3%;
  position: absolute;
  left: 25%;
}

.abt1 {
  grid-area: abt1;
  text-align: right;
}

.abt2 {
  grid-area: abt2;
  text-align: right;
}

.abt3 {
  grid-area: abt3;
}

.abt4 {
  grid-area: abt4;
}

.abt5 {
  grid-area: abt5;
  text-align: center;
}

.mainh2 {
  grid-area: mainh2;
  text-align: center;
  font-size: 3em;
}

.desc1 {
  grid-area: desc1;
  text-align: center;
  color: #350000;
  font-size: 2em;
}

.desc2 {
  grid-area: desc2;
  text-align: center;
  color: #5C0000;
  font-size: 2em;
}

.desc3 {
  grid-area: desc3;
  text-align: center;
  color: #830A0A;
  font-size: 2em;
}

.desc4 {
  grid-area: desc4;
  text-align: center;
  color: #A62525;
  font-size: 2em;
}

#infomain {
  height: 300vh;
  width: 80vw;
background-color: white;
box-shadow: 4px 5px 19px -1px #190000;
  margin: auto;
}


#aboutmain {
  height: 100vh;
  width: 50vw;
background-color: white;
box-shadow: 4px 5px 19px -1px #190000;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30% 1fr 1fr;
  grid-column-gap: 5%;
  grid-template-areas:
  '. abt5 .'
  'abt1 myface abt3'
  'abt2 . abt4';
  position: relative;
}

#indexmain {
  height: 300vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
'. mainh2 .'
'. desc1 .'
'. desc2 .'
'. desc3 .'
'. desc4 .';
background-image: url(istockphoto-907437998-170x170.jpg);
background-size: cover;
background-blend-mode: luminosity;
}

@media only screen and (max-width:600px){

  #aboutmain {
    height: 200vh;
      width: 80vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5%;
    grid-template-areas:
    'myface'
    'abt5'
    'abt1'
    'abt2'
    'abt3'
    'abt4';

    position: relative;
  }
  .abt1 {
    grid-area: abt1;
    text-align: center;
    margin: 10%;

  }
  .abt2 {
    grid-area: abt2;
    text-align: center;
    margin: 10%;
  }

  .abt3 {
    grid-area: abt3;
    text-align: center;
    margin: 10%;
  }

  .abt4 {
    grid-area: abt4;
    text-align: center;
    margin: 10%;
  }

  .abt5 {
    grid-area: abt5;
    text-align: center;
        margin-top: 30%;
  }
  .main-nav {
    height: 100%;
    background-color: #830A0A;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    text-align: center;
    color: white;
    font-family: var(--navigationFont);
    font-size: 1.25em;
    flex-wrap: wrap;

  }
  .myface {
    border-radius: 50px;
    width: 50%;
    grid-area: myface;
    margin: 3%;
    position: absolute;
    left: 20%;
  }

  .abt1 {
    grid-area: abt1;
    text-align: center;

  }
  .abt2 {
    grid-area: abt2;
    text-align: center;

  }

  .abt3 {
    grid-area: abt3;
    text-align: center;

  }

  .abt4 {
    grid-area: abt4;
    text-align: center;

  }

  .abt5 {
    grid-area: abt5;
    text-align: center;
        margin-top: 30%;
  }
}

@media only screen and (min-width:600px) and (max-width:1000px) {
  #aboutmain {
    height: 150vh;
    display: grid;
    grid-row-gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    'abt5 abt5 . myface myface'
    'abt1 abt1 abt1 abt3 abt3'
    'abt2 abt2 abt2 abt4 .'
    ;

    position: relative;
  }
  .abt1 {
    grid-area: abt1;
    text-align: center;
    margin: 5%;
    font-size: 1em;

  }
  .abt2 {
    grid-area: abt2;
    text-align: center;
    margin: 5%;
    font-size: 1em;
  }

  .abt3 {
    grid-area: abt3;
    text-align: center;
    margin: 5%;
    font-size: 1em;
  }

  .abt4 {
    grid-area: abt4;
    text-align: center;
    margin: 5%;
    font-size: 1em;
  }

  .abt5 {
    grid-area: abt5;
    text-align: center;
        margin: 5%;
        font-size: 1em;
  }

  .myface {
    border-radius: 50px;
    width: 60%;
    grid-area: myface;
    margin: 5%;
    position: absolute;
    left: 18%;
}
  .main-nav {
    height: 100%;
    background-color: #830A0A;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    text-align: center;
    color: white;
    font-family: var(--navigationFont);
    font-size: 1.25em;
    flex-wrap: wrap;
}

@media only screen and (min-width:1000px) {
  #aboutmain {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    '. abt5 .'
    'abt1 myface abt3'
    'abt2 . abt4'
    ;

    position: relative;
  }

  .myface {
    border-radius: 50px;
    width: 60%;
    grid-area: myface;
    margin: 5%;
    position: absolute;
    left: 18%;
  }
  .abt1 {
    grid-area: abt1;
    text-align: center;
    margin: 5%;
    font-size: .85em;

  }
  .abt2 {
    grid-area: abt2;
    text-align: center;
    margin: 5%;
    font-size: .85em;
  }

  .abt3 {
    grid-area: abt3;
    text-align: center;
    margin: 5%;
    font-size: .85em;
  }

  .abt4 {
    grid-area: abt4;
    text-align: center;
    margin: 5%;
    font-size: .85em;
  }

  .abt5 {
    grid-area: abt5;
    text-align: center;
        margin-top:5%;
        font-size: .85em;
  }
}
